version: '3.8'

services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - final-hw

  sonarqube:
    image: sonarqube:8.9-community
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://postgres/postgres
      - SONAR_JDBC_USERNAME=root
      - SONAR_JDBC_PASSWORD=root
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
    ports:
      - 9000:9000
    depends_on:
      - postgres
    networks:
      - final-hw

  jenkins:
    image: jenkins/jenkins:lts-jdk11
    volumes:
      - jenkins_home:/var/jenkins_home
    ports:
      - 8082:8080
      - 50000:50000
    restart: on-failure
    networks:
      - final-hw

  nexus:
    image: sonatype/nexus3
    volumes:
      - nexus-data:/nexus-data
    ports:
      - 8081:8081
    networks:
      - final-hw

  portainer:
    image: portainer/portainer-ce:2.9.3
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 8000:8000
      - 9443:9443
    restart: always
    networks:
      - final-hw

  nodeapp:
    build:
      context: .
    ports:
      - 3000:3000
    networks:
      - final-hw


volumes:
  postgres_data:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
  jenkins_home:
  nexus-data:
  portainer_data:

networks:
  final-hw: